
                @{

    ShoppingMall.Models.ShoppingCartDatabaseContexts db = new ShoppingMall.Models.ShoppingCartDatabaseContexts();
    var product = db.Products.Where(p => p.Discount != null).OrderByDescending(p => p.Discount).ToList();
    var counts = product.Count;


    if (counts >= 3)
    {
        <h4>Fearture Product <a style="float:right;" href="@Url.Action("AllFeartureProduct","Home")">@counts + Fearture products </a>      </h4>
    }

                        <div class="well well-small">
		
			<div class="row-fluid">
			<div>
			<div class="carousel-inner">
			  <div class="item active">
                  @if(product.Count>0)
                  {
                  
			  <ul class="thumbnails">
                  @foreach(var products in product.Skip(0).Take(4).ToList())
                  {
                      int newprice = 0;
                      if(products.Discount != null && products.Discount != 0)
                      {
                          newprice = Convert.ToInt32(products.Price - ((products.Price * products.Discount) / 100));
                      }
				<li class="span3">

				  <div class="thumbnail" style="background-color:white;">
				 
					<a href="@Url.Action("ProductDetails","Home",new{ProductID=products.ProductID})"><img src="@Url.Content("~/Content/ProductImage/")@products.ProductImage" style="height:250px;" alt=""></a>
					<div class="caption">
					  <h5 style=" max-height: 24px; overflow: hidden;"><a href="@Url.Action("ProductDetails","Home",new{ProductID=products.ProductID})">@products.ProductName</a></h5>
                        <p  style="max-height:60px; min-height:58px; overflow:hidden;">@products.ProductDescription</p>
					  
                          <div style="float: left; margin: 4px;  border: 1px dashed #005580;">
                              <div style="margin:3px;">
                                  <span style=" color: #005580; font-size: 20px;">Rs. @newprice</span>
                                  <span style="margin-left: 5px; text-decoration: line-through; color: gray; font-size: 13px;">Rs. @Convert.ToInt32(products.Price).ToString()</span>
                                  <span style="margin-left: 3px; color: gray">(@Convert.ToInt32(products.Discount)% Off)</span>
                              </div>
                        </div>

                <h4 style="padding-top:15px; margin-bottom:0px;">
                    <a class="btn" href="@Url.Action("ProductDetails","Home",new{ProductID=products.ProductID})">VIEW</a> 
                    <a class="btn btn-primary" style="float:right;" href="@Url.Action("AddtoCart", "Home", new { ProductId = products.ProductID })">Add to Cart</a>
                </h4>
                         
                          
					</div>
				  </div>
				</li>
                  }
				
			  </ul>
                      
                  }
			  </div>
                
				
				
			  
			  </div>
                <div style="float:right;">
                    <a href="@Url.Action("AllFeartureProduct", "Home", new { pageNum = 1, SubCategoryId = Guid.Empty,categoryid=Guid.Empty})" class="btn btn-primary">View more Products</a>
                </div>
			  </div>
			  </div>
                
                   
		</div>
   }