@{
    
    ShoppingMall.Models.ShoppingCartDatabaseContexts db = new ShoppingMall.Models.ShoppingCartDatabaseContexts();

    string Email = Session["UserName"].ToString();
    var user = db.Users.Where(u => u.EmailID == Email).ToList();
    if (user.Count > 0)
    {
    
    <div class="control-group">
        <label class="control-label" for="inputCountry">
            Address
        </label>
        <div class="controls">
            <input type="text" id="Address" name="Address" value="@user[0].Address" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputCountry">
            City
        </label>
        <div class="controls">
            <input type="text" id="City" name="City" value="@user[0].City" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputCountry">
            State
        </label>
        <div class="controls">
            <input type="text" id="State" name="State" value="@user[0].State" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputCountry">
            Country
        </label>
        <div class="controls">
            <input type="text" id="Country" name="Country" value="@user[0].Country" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputCountry">
            PhoneNumber
        </label>
        <div class="controls">
            <input type="text" id="PhoneNumber" name="PhoneNumber" value="@user[0].PhoneNumber" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputCountry">
            ZipCode
        </label>
        <div class="controls">
            <input type="text" id="ZipCode" name="ZipCode" value="@user[0].ZipCode" />
        </div>
    </div>
    }
}