@model ShoppingMall.Models.ProductStock

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminHomeLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ProductStock</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Product.ProductName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product.ProductName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Qty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Qty)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReamingQty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReamingQty)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
