@model ShoppingMall.Models.ProductStock

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminHomeLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>ProductStock</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Product.ProductName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product.ProductName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Qty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Qty)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReamingQty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReamingQty)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProductStockId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
