@model ShoppingMall.Models.ProductStock

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminHomeLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ProductStock</legend>

        @Html.HiddenFor(model => model.ProductStockId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductsId, "Product")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProductsId", String.Empty)
            @Html.ValidationMessageFor(model => model.ProductsId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Qty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Qty)
            @Html.ValidationMessageFor(model => model.Qty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReamingQty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReamingQty)
            @Html.ValidationMessageFor(model => model.ReamingQty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedDate)
            @Html.ValidationMessageFor(model => model.CreatedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModifiedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModifiedDate)
            @Html.ValidationMessageFor(model => model.ModifiedDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


