@model ShoppingMall.Models.User
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/themes/base/jquery-ui.css")" rel="stylesheet"/>
<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar ================================================== -->
	@Html.Partial("_SideBarMenu")
<!-- Sidebar end=============================================== -->
	
       
        <div class="span9" style="width:870px;">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Registration</li>
    </ul>
	<h3> Registration</h3>	
	<div class="well">
	@using (Html.BeginForm("Registration", "Home", FormMethod.Post,  new { @class = "form-horizontal"})) {
    @Html.ValidationSummary(true)
	
		<h4>Your personal information</h4>
		@*<div class="control-group">
		<label class="control-label">Title <sup>*</sup></label>
		<div class="controls">
		<select class="span1" name="days">
			<option value="">-</option>
			<option value="1">Mr.</option>
			<option value="2">Mrs</option>
			<option value="3">Miss</option>
		</select>
		</div>
		</div>*@
		<div class="control-group">
			@Html.LabelFor(model => model.FristName,new{ @class="control-label"})
			<div class="controls">
                @Html.EditorFor(model => model.FristName, new {@placeholder = "Enter FristName" })
                @Html.ValidationMessageFor(model => model.FristName)
			  @*<input type="text" id="inputFname1" placeholder="First Name">*@
			</div>
		 </div>
		 <div class="control-group">
			@Html.LabelFor(model => model.LastName,new{ @class="control-label"})
			<div class="controls">
                @Html.EditorFor(model => model.LastName, new { @placeholder = "Enter LastName" })
                @Html.ValidationMessageFor(model => model.LastName)
			  @*<input type="text" id="inputFname1" placeholder="First Name">*@
			</div>
		 </div>
		<div class="control-group">
		@Html.LabelFor(model => model.EmailID,new{@class="control-label"})
			<div class="controls">
                @Html.EditorFor(model => model.EmailID, new { @placeholder = "Enter EmailId"})
                @Html.ValidationMessageFor(model => model.EmailID)
			  @*<input type="text" id="inputFname1" placeholder="First Name">*@
			</div>
	  </div>	  
	<div class="control-group">
		@Html.LabelFor(model => model.Password,new{@class="control-label"})
			<div class="controls">
                @Html.EditorFor(model => model.Password, new { @placeholder = "Enter title here"})
                @Html.ValidationMessageFor(model => model.Password)
			  @*<input type="text" id="inputFname1" placeholder="First Name">*@
			</div>
	  </div>	  
		@*<div class="control-group">
		<label class="control-label">Date of Birth <sup>*</sup></label>
		<div class="controls">
		  <select class="span1" name="days">
				<option value="">-</option>
					<option value="1">1&nbsp;&nbsp;</option>
					<option value="2">2&nbsp;&nbsp;</option>
					<option value="3">3&nbsp;&nbsp;</option>
					<option value="4">4&nbsp;&nbsp;</option>
					<option value="5">5&nbsp;&nbsp;</option>
					<option value="6">6&nbsp;&nbsp;</option>
					<option value="7">7&nbsp;&nbsp;</option>
			</select>
			<select class="span1" name="days">
				<option value="">-</option>
					<option value="1">1&nbsp;&nbsp;</option>
					<option value="2">2&nbsp;&nbsp;</option>
					<option value="3">3&nbsp;&nbsp;</option>
					<option value="4">4&nbsp;&nbsp;</option>
					<option value="5">5&nbsp;&nbsp;</option>
					<option value="6">6&nbsp;&nbsp;</option>
					<option value="7">7&nbsp;&nbsp;</option>
			</select>
			<select class="span1" name="days">
				<option value="">-</option>
					<option value="1">1&nbsp;&nbsp;</option>
					<option value="2">2&nbsp;&nbsp;</option>
					<option value="3">3&nbsp;&nbsp;</option>
					<option value="4">4&nbsp;&nbsp;</option>
					<option value="5">5&nbsp;&nbsp;</option>
					<option value="6">6&nbsp;&nbsp;</option>
					<option value="7">7&nbsp;&nbsp;</option>
			</select>
		</div>
	  </div>*@

	

		<h4>Your address</h4>
		@*<div class="control-group">
			<label class="control-label" for="inputFname">First name <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="inputFname" placeholder="First Name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputLname">Last name <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="inputLname" placeholder="Last Name"/>
			</div>
		</div>*@
		
		@*<div class="control-group">
			<label class="control-label" for="company">Company</label>
			<div class="controls">
			  <input type="text" id="company" placeholder="company"/>
			</div>
		</div>*@
		
		<div class="control-group">
			@Html.LabelFor(model => model.Address, new{@class="control-label"})
			<div class="controls">
                @Html.TextAreaFor(model => model.Address,new{ @placeholder = "Enter Address"})
                @Html.ValidationMessageFor(model => model.Address)
			  @*<input type="text" id="inputFname1" placeholder="First Name">*@
			</div>
		</div>
		
		@*<div class="control-group">
			<label class="control-label" for="address2">Address (Line 2)<sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="address2" placeholder="Adress line 2"/> <span>Apartment, suite, unit, building, floor, etc.</span>
			</div>
		</div>*@
		<div class="control-group">
			@Html.LabelFor(model => model.City,new{@class="control-label"})
			<div class="controls">
                @Html.EditorFor(model => model.City, new{ @placeholder = "Enter Address"})
                @Html.ValidationMessageFor(model => model.City)
			  @*<input type="text" id="inputFname1" placeholder="First Name">*@
			</div>
		</div>
		<div class="control-group">
			@Html.LabelFor(model => model.State,new{@class="control-label"})
			<div class="controls">
                @Html.TextBoxFor(model => model.State, new{ @placeholder = "Enter Address"})
                @Html.ValidationMessageFor(model => model.State)
			  @*<input type="text" id="inputFname1" placeholder="First Name">*@
			</div>
		</div>		
		<div class="control-group">
			@Html.LabelFor(model => model.Country,new{@class="control-label"})
			<div class="controls">
                @Html.EditorFor(model => model.Country, new { @placeholder = "Enter Country"})
                @Html.ValidationMessageFor(model => model.Country)
			  @*<input type="text" id="inputFname1" placeholder="First Name">*@
			</div>
		</div>
		
		<div class="control-group">
			@Html.LabelFor(model => model.ZipCode,new{@class="control-label"})
			<div class="controls">
                @Html.EditorFor(model => model.ZipCode, new{ @placeholder = "Enter ZipCode" })
                @Html.ValidationMessageFor(model => model.ZipCode)
			  @*<input type="text" id="inputFname1" placeholder="First Name">*@
			</div>
		</div>	
		
		
		<div class="control-group">
			@Html.LabelFor(model => model.PhoneNumber,new{@class="control-label"})
			<div class="controls">
                @Html.EditorFor(model => model.PhoneNumber, new { @placeholder = "Enter Mobile No"})
                @Html.ValidationMessageFor(model => model.PhoneNumber)
			  
			</div>
		</div>
		
	
	
	<div class="control-group">
			<div class="controls">
				<input type="hidden" name="email_create" value="1">
				<input type="hidden" name="is_new_customer" value="1">
				<input class="btn btn-large btn-success" type="submit" value="Register" />
			</div>
		</div>		
 }
</div>

</div>
</div>
</div>
</div>
<!-- MainBody End ============================= -->
