@model IEnumerable<ShoppingMall.Models.Product>
@{
    ViewBag.Title = "SearchBySubcategoryName";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@{
    ShoppingMall.Models.ShoppingCartDatabaseContexts db = new ShoppingMall.Models.ShoppingCartDatabaseContexts();
    int PageNumber = Convert.ToInt32(ViewBag.PageNumber);
    int RecordPerPage = 6;
    int ProductCount = Model.Count();
    int NumberOfPages = (ProductCount / RecordPerPage) + 1;

    <div id="mainBody">
        <div class="container">
            <div class="row">
                <!-- Sidebar ================================================== -->
                @Html.Partial("_SideBarMenu")
                <!-- Sidebar end=============================================== -->
                <div class="span9" style="width: 870px;">
                    
                    <h3 style="text-align:right;">[@ProductCount] No Of products are available</h3>
                    <hr class="soft" />
                    
                   
                    

                    <div id="myTab" class="pull-right" style="margin-bottom:10px;">
                        <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
                        <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
                    </div>
                    <br class="clr" />
                    <div class="tab-content">
                        <div class="tab-pane" id="listView">

                            @foreach (var products in Model.Skip(RecordPerPage * (PageNumber - 1)).Take(RecordPerPage).ToList())
                            {
                                int newprice = 0;
                                if (products.Discount != null && products.Discount != 0)
                                {
                                    newprice = Convert.ToInt32(products.Price - ((products.Price * products.Discount) / 100));
                                }
                                <div class="row" style="margin-bottom: 20px; margin-top: 20px; border-bottom: 1px thin black;">

                                    <div class="span2">
                                        <a href="@Url.Action("ProductDetails", "Home", new { ProductID = products.ProductID })">
                                            <img style="height:250px;" src="@Url.Content("~/Content/ProductImage/")@products.ProductImage" alt="" /></a>
                                    </div>

                                    <div class="span4">
                                        <h3 style="color: #08c;"><a href="@Url.Action("ProductDetails", "Home", new { ProductID = products.ProductID })">@products.ProductName</a></h3>
                                        <hr class="soft" />

                                        <p style="max-height: 82px; overflow: hidden; min-height: 82px;">
                                            @products.ProductDescription
                                        </p>
                                        <div style="margin-top: 0px;">
                                            <h4>RS. @products.Price <span>(@products.Discount% Off)</span></h4>
                                            <a class="btn btn-large btn-primary" href="@Url.Action("ProductDetails", "Home", new { ProductID = products.ProductID })">View Details</a>

                                            <a href="@Url.Action("AddtoCart", "Home", new { ProductId = products.ProductID })" class="btn btn-large btn-primary">Add to <i class=" icon-shopping-cart"></i></a>
                                            <a href="@Url.Action("ProductDetails", "Home", new { ProductID = products.ProductID })" class="btn btn-large"><i class="icon-zoom-in"></i></a>

                                        </div>
                                    </div>
                                </div>
                            }


                            <hr class="soft" />
                        </div>

                        <div class="tab-pane  active" id="blockView">
                            <ul class="thumbnails">

                                @foreach (var products in Model.Skip(RecordPerPage * (PageNumber - 1)).Take(RecordPerPage).ToList())
                                {
                                    int newprice = 0;
                                    if (products.Discount != null && products.Discount != 0)
                                    {
                                        newprice = Convert.ToInt32(products.Price - ((products.Price * products.Discount) / 100));
                                    }
                                    <li class="span3">
                                        <div class="thumbnail" style="height:450px;">

                                            <a href="@Url.Action("ProductDetails", "Home", new { ProductID = products.ProductID })">
                                                <img style="height:250px;" src="@Url.Content("~/Content/ProductImage/")@products.ProductImage" alt="" /></a>
                                            <div class="caption">
                                                <h5 style="font-size: 18px; max-height: 22px; overflow: hidden;"><a href="@Url.Action("ProductDetails", "Home", new { ProductID = products.ProductID })">@products.ProductName</a></h5>

                                                <h6 style="max-height: 60px; min-height: 58px; overflow: hidden;">
                                                    @products.ProductDescription
                                                </h6>

                                                <span style="margin-left: 10px; color: #08C; font-size: 22px;">Rs. @newprice</span><span style="margin-left: 10px; text-decoration: line-through; color: gray; font-size: 13px;">Rs. @Convert.ToInt32(products.Price).ToString()</span><span style="margin-left: 5px; color: gray">(@Convert.ToInt32(products.Discount)% Off)</span>


                                                <h4 style="text-align: center"><a class="btn" href="@Url.Action("ProductDetails", "Home", new { ProductID = products.ProductID })"><i class="icon-zoom-in"></i></a><a class="btn" href="@Url.Action("AddtoCart", "Home", new { ProductId = products.ProductID })">Add to <i class="icon-shopping-cart"></i></a></h4>
                                            </div>

                                        </div>
                                    </li>
                                }


                            </ul>
                            <hr class="soft" />
                        </div>
                    </div>

                   
                    <div class="pagination">
                        <ul>
                            <li><a href="@Url.Action("SearchBySubcategoryName", "Home", new {SubcategoryId = ViewBag.SubCategoryId,categoryid=Guid.Empty, pageNum = 1 })">First</a></li>

                            @for (int i = 1; i < NumberOfPages; i++)
                            {
                                <li><a href="@Url.Action("SearchBySubcategoryName", "Home", new { SubcategoryId = ViewBag.SubCategoryId,categoryid=Guid.Empty, pageNum = i })">@i</a></li>
                            }
                            <li><a href="@Url.Action("SearchBySubcategoryName", "Home", new {SubcategoryId = ViewBag.SubCategoryId,categoryid=Guid.Empty, pageNum = @NumberOfPages })">Last</a></li>
                        </ul>
                    </div>
                    <br class="clr" />
                </div>
            </div>
        </div>
    </div>
}